<div class="jumbotron text-center">
  <div class="container">

  <h1 class="display-3">Car Listings</h1>
  <p class="lead">Access most comprehensive car database available</p>
  <hr class="my-4">
  <p>Need a car loan.</p>
  <a href=""><img src="assets/images/google.svg"></a>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>


  </div>
</div>






<!--<div class="jumbotron">
  <h1 class="display-3">BMW z4</h1>
  <p class="lead">Power	231 bhp
Top Speed	155 mph
0-60 mph	5.7 secs
Torque	300 Nm
CO2 Emissions	221 g/km
Euro Emissions Standard	4
Miles Per Tank	375 miles.</p>
  <hr class="my-4">
  <p>Need a car loan.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>-->